@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-primary: "Montserrat", "sans-serif";
    --color-bg: #a2bac8;
    --color-main: #4b7c97;
    --breakpoint-xl: 121rem;
}